// Logo

.logo{
    height: 3.25rem;
    margin-left: 3rem;

}

/////////////////////////////////////////////////@at-root
// Search 


.search{
    flex:0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{ 
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-Grey-light-2);
        border:none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.25rem;
        transition:  all .2s;
        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-primary-dark);
            
        }

    }
    &__input:focus + &__button{
        background-color: var(--color-primary-dark);
    }
    &__button{
        border:none;
        background-color: var(--color-Grey-light-2);
        &:focus{
            outline:none;
        }
        &active{
            transform: translateY(2px);
        }
        &::-webkit-input-placeholder{
          font-weight: 100;
          color:var(--color-Grey-light-3); 
        }

    }
    &__icon{
        height: 2rem;
        width: 2rem;
        fill:var(--color-primary-light );

    }

}

///////////////////////////////
// user navigaton
.user-nav{
    background-color: lawngreen;
    display: flex;
    &__icon-box{


    }
    &__icon{

        height: 2.5rem;
        width: 2.5rem;
    }
    &__notification{

    }
    &__user{

    }
    &__user-photo{
        height: 3.75rem;
        width: 3.75rem;
        // border-radius: 50%;
      

    }

}